@page "/AdminPanel"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Admin Panel</h3>
<AuthorizeView>

	Hi @context.User.Identity?.Name!
	<form @onsubmit="Submit">

		<InputFile OnChange="OnInputFileChange" multiple/>
		<button type="submit">Upload</button>

	</form>

</AuthorizeView>

@code 
{
	IReadOnlyList<IBrowserFile> files;
	async void OnInputFileChange(InputFileChangeEventArgs e)
	{
		files = e.GetMultipleFiles();
		this.StateHasChanged();
	}

	async void Submit()
	{
		foreach (var item in files)
		{
			Stream stream = item.OpenReadStream();
			var path = $"D:\\WallpaperAppPicture\\{item.Name}";
			FileStream fileStream = File.Create(path);
			await stream.CopyToAsync(fileStream);
			stream.Close();
			fileStream.Close();
		}

		this.StateHasChanged();
	}
}
