@page "/AdminPanel"

@using Microsoft.AspNetCore.Authorization
@using WallpaperApp.Services.Interfaces
@inject IWallpaperFileService wallpaperFileService

@attribute [Authorize]

<h3>Admin Panel</h3>
<AuthorizeView>

	Hi @context.User.Identity?.Name!
	<form @onsubmit="Submit">

		<InputFile OnChange="OnInputFileChange" multiple/>
		<button type="submit">Upload</button>

	</form>

	<table>
        <tr>
            <th>Name</th>
            <th>Resolution</th>
        </tr>
		@foreach (var item in wallpapers)
		{
			<tr>
				<td>@item.FileName</td>
				<td>@item.ImageResolution</td>
			</tr>
		}

	</table>

</AuthorizeView>

