@page "/AllWallpapers"
@using System.Collections.Generic

<PageTitle>All Wallpapers</PageTitle>

<a href="https://unsplash.com/wallpapers">Click here to find wallpapers</a>

    <h2>Table of wallpapers</h2>

<table class="table">
    <thead>
        <tr>
            @for (int i = 1; i < 5; i++)
            {
                <th>Column @i</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 4; i++)
        {
            <tr>
                @for (int j = 0; j < 6; j++)
                {
                    <td>&nbsp;</td>
                }
            </tr>
        }
    </tbody>
</table>