@page "/AllWallpapers"
@using System.Collections.Generic

<PageTitle>All Wallpapers</PageTitle>

<a href="https://unsplash.com/wallpapers">Click here to find wallpapers</a>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Table of wallpapers</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-1" />
        <div class="col-10">
            <div class="container">
                <div class="row">
                    @for (int i = 0; i < 24; i++)
                    {
                        <div class="col-3">
                            <WallpaperApp.Components.WallpaperCard CardTitle="Ninja Cat" ImageSource="https://i.imgur.com/ojsc4kk.jpeg" StrongCardTitle= "true" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-1" />
    </div>
</div>