@using WallpaperApp.Components
@using WallpaperApp.Services.Interfaces
@inject IWallpaperFileService wallpaperFileService

<Modal @ref="modal">
		<Title>Provide new File Name for @FileName</Title>
		<Body>
			<form @onsubmit="Submit">

			<InputText @bind-Value="NewName" />
				<button type="submit">Rename</button>

			</form>
		</Body>
		<Footer></Footer>
		</Modal>